body{
	background-color: #000000; 
}
body nav{
	margin-left: 900px;
	margin-top:0px;
	background-color: #000000;
}
p{ 
	color:#FFFFFF;
	font-size: 40px;
}
body button{
	margin-left: 400px;
}